workflows/content-factory.json
{
  "name": "Content Factory Pipeline",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "content-trigger" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/content/generate",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [{ "name": "topic", "value": "={{ $json.body.topic }}" }]
        },
        "options": {}
      },
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// /content/generate already persists each piece to the local SQLite store\n// (content_queue). This node just shapes the API response for downstream use.\nconst input = $input.all();\nreturn input.map(item => ({ json: { topic: item.json.topic, content: item.json.content, status: 'pending', persisted: true } }));"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Generate Content", "type": "main", "index": 0 }]] },
    "Generate Content": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] }
  }
}
