workflows/whop-events.json
{
  "name": "Whop Member Events",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whop-webhook" },
      "name": "Whop Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/whop/webhook",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "event", "value": "={{ $json.body.event || 'member.created' }}" },
            { "name": "email", "value": "={{ $json.body.email }}" },
            { "name": "name", "value": "={{ $json.body.name }}" },
            { "name": "plan", "value": "={{ $json.body.plan }}" },
            { "name": "whop_id", "value": "={{ $json.body.whop_id }}" }
          ]
        },
        "options": {}
      },
      "name": "Upsert Member (local store)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@edvisingu.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Welcome to EdVisingU!",
        "text": "Hi {{ $json.body.name }},\n\nWelcome to the EdVisingU community. We're excited to help you on your education journey.\n\nBest,\nThe EdVisingU Team"
      },
      "name": "Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Whop Webhook": { "main": [[{ "node": "Upsert Member (local store)", "type": "main", "index": 0 }]] },
    "Upsert Member (local store)": { "main": [[{ "node": "Welcome Email", "type": "main", "index": 0 }]] }
  }
}
